.banner__box.content-container.content-container--full-width-mobile.color-background-1.gradient {
    background: #ffffff00;
}

h2.banner__heading.inline-richtext.custom-header.h1 {
  font-family: DM Sans, sans-serif;
  color: #fff;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  text-align: left;
}

.banner__text.rte.body p {
    font-family: DM Sans, sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: #fff;
    text-align: left;
}

.banner__text.rte.body {
    width: 38%;
}

.banner__buttons {
    display: block;
    text-align: left;
}

a.button.button--primary {
    background: #BE123C;
    opacity: 1;
    padding: 6px 16px 6px 16px;
    gap: 8px;
    border: none !important;
    border-radius: 0 !important;
    font-family: DM Sans;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
}