.new-section {
  background-color: #f0f0f0;
  padding: 40px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.left-section img {
  max-width: 100%;
  height: auto;
}

.right-section {
  flex: 0 0 50%; 
}
.right-section h2 {
  color: #333; 
}

.right-section p {
  color: #666; 
}