.new-section {
  padding: 40px 0;
}

.background-1 {
  /* background-color: #f0f0f0; */
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.left-section img {
  width: 500px;
  max-width: 100%;
  height: auto;
}

.right-section {
  flex: 0 0 40%;
}

.right-section h2 {
  color: #333;
}

.right-section p {
  color: #666;
}

.caption {
  color: #888;
}

.right-image {
  order: 2;
}

.btn-position{
  margin:auto;
}